.karuta-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.karuta-card {
  flex-basis: 70px;
  background-color: white;
  border: solid 1px #bbb;
  box-shadow: 1px 1px 3px #bbb;
  margin: 10px;
  text-align: right;
}